{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Hero Image-->
    <div class="container-flex">
        <div class="home-page">
            <div class="home-page-content d-flex align-items-end">
                <div class="mx-auto text-center landing-text-container">
                    <h1 class="mb-3 strokeme-red">Join the Finesse Fitness Family!</span></h1>
                    <h4 class="w-75 strokeme-white mx-auto">Why not join our family and avail of all offers.</h4>
                    <div class="my-3 mt-md-3 mb-md-5">
                        <a href="#" class="btn-red btn btn-lg rounded-0 text-uppercase">Join Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sucbribe Section -->
    <div class="container-flex mt-3 text-center">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 mb-5 subscription-text">
            <h3 class="text-center text-red">Transform your life today</h3>
            <h6 class="text-justify text-red">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque posuere sit amet metus nec pretium. Integer dignissim in justo eget convallis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </h6>
            <a href="#" class="btn-red btn rounded-0 text-uppercase">Subrcribe</a>
          </div>
          <div class="col-12 col-md-6 col-lg-6 mb-5">
            <img src="{{ MEDIA_URL }}personal-training.png" alt="Image of a man coaching a woman" class="img-fluid">
          </div>
        </div>
    </div>
    <div class="section-divider"></div>
    <!-- Why choose us section -->
    <div class="container">
        <h3 class="text-center text-red">Why choose Finesse Fitness?</h3>
        <h6 class="text-center text-red">Here's what we can offer...</h6>
        <div class="row g-2">
          <div class="col-6">
            <div class="p-3 mt-2 border-red text-red text-center">
                <i class="fas fa-balance-scale"></i>
                <p>Meal Plan</p>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 mt-2 border-red text-red text-center">
                <i class="fas fa-running"></i>
                <p>Work Out Plan</p>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 mt-2 border-red text-red text-center">
                <i class="fas fa-hands-helping"></i>
                <p>Coach Support</p>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 mt-2 border-red text-red text-center">
                <i class="fas fa-credit-card"></i>
                <p>Shop Discount</p>
            </div>
          </div>
        </div>
    </div>
    <div class="section-divider"></div>
    <!-- Shop Section -->
    <div class="container-flex mt-3 text-center">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
                    <img src="{{ MEDIA_URL }}gym-equipment.jpg" alt="Image of a man coaching a woman" class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mb-5 subscription-text">
                <h3 class="text-center text-red">Check Out Our Store</h3>
                <h6 class="text-justify text-red">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque posuere sit amet metus nec pretium. Integer dignissim in justo eget convallis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </h6>
                <a href="{% url 'products' %}" class="btn-red btn btn-lg rounded-0 text-uppercase">Shop Now</a>
            </div>
        </div>
    </div>
{% endblock %}