{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Hero Image-->
    <div class="container-flex">
        <div class="home-page">
            <div class="home-page-content d-flex align-items-end">
                <div class="mx-auto text-center landing-text-container">
                    <h1 class="mb-3 strokeme-red">Join the Finesse Fitness Family!</span></h1>
                    <h4 class="w-75 strokeme-white mx-auto">Why not join our family and avail of all offers.</h4>
                    <div class="my-3 mt-md-3 mb-md-5">
                        <a href="#" class="join-now-button btn btn-lg rounded-0 text-uppercase">Join</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}