{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Hero Image-->
    <div class="container-flex">
        <div class="home-page">
            <div class="home-page-content d-flex align-items-end">
                <div class="mx-auto text-center landing-text-container">
                    <h1 class="text-red mb-3">Join the Finesse Fitness Family!</span></h1>
                    <p class="w-75 mx-auto"></p>
                    <div class="my-3 mt-md-3 mb-md-5">
                        <a href="#" class="btn-red text-uppercase">Join</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}