{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}Bag{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-center text-red">Thank you for your purchase!</h2>
                <hr>
                <p class="text-red">Order Confirmed, your information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7">
                
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                <a href="{% url 'products' %}?category=clothing" class="btn btn-red rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-gifts"></i>
                    </span>
                    <span class="text-uppercase">Why not chekout our range of clothing to help make your workout that bit more comfortable.</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
