html {
    height: 100%;
}

.header-container {
    padding-top: 164px;
}

/* Hero image */
.home-page {
    height: 100vh;
    background: url('/media/trainer.jpg') no-repeat center top;
    position: relative;
    top: -3rem;
    background-size: cover;
}

.landing-text-container {
    padding-top: 20rem;
}

.text-red {
    color: #a30202 !important;
}

.strokeme-red {
    color: #a30202;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.strokeme-white {
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.border-red {
    border: 1px solid #a30202 !important;
}

.join-now-button {
    background: #a30202;
    color: white;
    min-width: 260px;
}

.btn-red {
    background: #a30202;
    color: white;
}

.join-now-button:hover,
.join-now-button:active,
.join-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-link {
    padding: .5rem 0rem !important;
}