html {
    height: 100%;
}

.header-container {
    padding-top: 164px;
}

/* Hero image */
.home-page {
    height: 100vh;
    background: url('/media/trainer.jpg') no-repeat center top;
    position: relative;
    top: -3rem;
    background-size: cover;
}

.landing-text-container {
    padding-top: 35rem;
}

.text-red {
    color: #cc0001 !important;
}

.border-red {
    border: 1px solid #cc0001 !important;
}

.btn-red {
    background: #cc0001;
    color: #000;
}