.category-button {
    border: 1px solid #a30202 !important;
    min-width: 150px;
}

.category-button a {
    text-decoration: none;
    color: #a30202;
}

.category-button:hover {
    
    border: 1px solid #fff !important;
    background-color: #a30202;
}

.category-button a:hover {
    color: #fff;
}

.category-button a:hover {
    color: #fff;
}

.sort-section {
    line-height: 2;
}

#sort-container a {
    border: 1px solid var(--color-light-pink);
    color: var(--color-main);
    text-decoration: none;
    white-space: nowrap;
}

#sort-trigger:hover {
   cursor: pointer;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

@media (max-width:481px){
    .category-button {
        font-size: xx-small;
        min-width: 100px;
        margin: 1em;
    }
}