{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'subscriptions/css/subscriptions.css' %}">
{% endblock %}


{% block extra_title %}Subscriptions{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Subscription Container -->
<div class="container-fluid text-center">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-red">Subscriptions</h2>
            <hr>
        </div>
    </div>
    <div class="row mb-5 pt-5">
        {% for subscription in subscriptions %}
        <div class="col-12 col-lg-4 mb-5 mb-md-0 {% if subscription.name == user_subscription %}border-sub{% endif %}">
            <!-- Subscription Name -->
            <h4 class="text-uppercase text-red">{{ subscription.name }} Subscription</h4>
            <!-- Subscription Icon -->
            <h2 class=""><i class="fas fa-certificate {% if subscription.priority == 'gold' %} badge-gold {% elif subscription.priority == 'silver' %} badge-silver {% else %} badge-bronze {% endif %} "></i></h2>
            <!-- Free delivery per subscription -->            
            <div>
                <h6 class="mt-4 mb-0">Free Delivery</h6>
                {% if subscription.free_delivery == 'yes' %}
                    <p class="text-red">Yes</p>
                {% else%}
                    <p class="text-secondary">No</p>
                {% endif %}
            </div>
            <!-- Discount for first order -->
            <div>
                <h6 class="mt-4 mb-0">First Order Discount</h6>
                <p class="text-red">{{ subscription.first_order_discount }}%</p>
            </div>
            <!-- Shop Discount -->
            <div>
                <h6 class="mt-4 mb-0">Shop Discount</h6>
                <p class="text-red">{{ subscription.shop_discount }}%</p>                
            </div>
            <!-- Meal Plan -->
            <div>
                <h6 class="mt-4 mb-0">Nutrition</h6>
                <p class="text-red">{{ subscription.meal_plan }}</p>      
            </div>
            <!-- Meal Plan -->
            <div>
                <h6 class="mt-4 mb-0">Blog Access</h6>
                {% if subscription.blog == 'yes' %}
                    <p class="text-red">Yes</p>    
                {% endif %} 
            </div>
            <!-- Price, display free if None -->
            <div>
                <h5 class="fs-4 mt-4 text-red">
                    {% if subscription.price %}
                        €{{ subscription.price }} / Year
                    {% else %}
                        free
                    {% endif %}
                </h5>
            </div>
            <!-- Form that posts the name of the subscription that is stored as a session variable and retrieved after signup -->
            {% if request.user.is_authenticated and user_subscription %}
                <form action="{% url 'subscription_change' %}" method="POST" class="pt-4 pb-3">
                    {% csrf_token %}
                    <input type="hidden" value="{{ subscription.name }}" name="subscription_type">
                    {% if subscription.name == user_subscription %}
                        <button class="btn btn-red" disabled>Subscribed</button>
                    {% else %}
                        <button class="btn return-button">Change</button>
                    {% endif %}
                </form>
            {% else %}
                <form action="{% url 'subscription_type' %}" method="POST" class="pt-4 pb-3">
                    {% csrf_token %}
                    <input type="hidden" value="{{ subscription.name }}" name="subscription_type">
                    <button class="btn btn-red">Subscribe</button>
                </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
