{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'subscriptions/css/subscriptions.css' %}">
{% endblock %}


{% block extra_title %}Subscriptions{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Subscription Container -->
<div class="container-fluid text-center">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-red">Your Subscriptions</h2>
            <hr>
        </div>
    </div>
{% endblock %}