<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font text-red font-weight-bold nav-link mr-5" href="#">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-red font-weight-bold nav-link mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="" class="dropdown-item">Clothing</a>
                <a href="" class="dropdown-item">Equipment</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">Shop All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-red font-weight-bold nav-link mr-5" href="#" >
                Subcription
            </a>

        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-red font-weight-bold nav-link" href="#" >
                Blog
            </a>
        </li>
    </ul>
</div>