<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font text-red font-weight-bold nav-link mr-5" href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-red font-weight-bold nav-link mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="{% url 'products' %}?category=clothing" class="dropdown-item text-red">Clothing</a>
                <a href="{% url 'products' %}?category=equipment" class="dropdown-item text-red">Equipment</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item text-red">Accessories</a>
                <a href="{% url 'products' %}" class="dropdown-item text-red">Shop All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-red font-weight-bold nav-link mr-5" href="{% url 'subscriptions' %}" >
                Subscription
            </a>

        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-red font-weight-bold nav-link" href="#" >
                Blog
            </a>
        </li>
    </ul>
</div>