{% extends "base.html" %}
{% load static %}

{% block extra_title %}Blog{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <header>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="text-center">
                    <h3 class="my-4 mt-3 text-red"> Welcome to my Blog, <span class="text-uppercase">{{ user }}</span> </h3>
                    <p class="text-red"> &nbsp
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            {% for post in blog_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title text-red">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'blog_detail' post.slug  %}" class="btn btn-red">Read More &rarr;</a>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
  </div>
{% endblock %}
