{% extends "base.html" %}
{% load static %}

{% block extra_title %}Blog{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-center text-red">Hello {{ user }}, welcome to our blog!</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}
