{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/shop.css' %}">
{% endblock %}

{% block extra_title %}Shop{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="delivery-banner" class="row text-center my-3">
        <div class="col text-red">
            <hr>
            <h4 class="logo-font my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>                
            <hr>
        </div>            
    </div>
    <div class="container-fluid">
        <div class="col text-center mt-3">
            <h2 class="text-red pb-2">Products</h2>
            {% for category in categories %}
                <li class="list-inline-item category-button">
                    <a href="{% url 'products' %}?category={{ category.name }}">
                        <div class="p-1">{{ category.friendly_name }}</div>
                    </a>
                </li>
            {% endfor %}
            <li class="list-inline-item category-button">
                <a href="{% url 'products' %}">
                    <div class="p-1">All</div>
                </a>
            </li>
            <hr class="w-50 mb-1">
        </div>
        <div class="text-end d-flex justify-content-center sort-section pt-3">
            <!-- Trigger element that hides/displays sorting icons -->
            <p class="text-red pe-1" id="sort-trigger"> Sort
                <i class="fas fa-sort"></i>
            </p>
            <!-- Sorting Icon container -->
            <div class="sort-width text-red" id="sort-container">
                <a href="{% url 'products' %}?category={{ active_category }}&sort=name" class="mx-1 p-1">
                    <i class="fas fa-sort-alpha-down"></i>
                </a>
                <a href="{% url 'products' %}?category={{ active_category }}&sort=-name" class="mx-1 p-1">
                    <i class="fas fa-sort-alpha-up"></i>
                </a>
                <a href="{% url 'products' %}?category={{ active_category }}&sort=rating" class="mx-1 p-1">
                    <i class="fas fa-star"></i><i class="fas fa-long-arrow-alt-down"></i>
                </a>
                <a href="{% url 'products' %}?category={{ active_category }}&sort=-rating" class="mx-1 p-1">
                    <i class="fas fa-star"></i><i class="fas fa-long-arrow-alt-up"></i>
                </a>
                <a href="{% url 'products' %}?category={{ active_category }}&sort=price" class="mx-1 p-1">
                    <i class="far fa-money-bill-alt"></i><i class="fas fa-long-arrow-alt-down"></i>
                </a>
                <a href="{% url 'products' %}?category={{ active_category }}&sort=-price" class="mx-1 p-1">
                    <i class="far fa-money-bill-alt"></i><i class="fas fa-long-arrow-alt-up"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid text-red" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid text-red" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0 text-red">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold text-red">€{{ product.price }}</p>
                                            {% if product.gender %}
                                                {% if product.gender == 'Men' %}
                                                    <p class="small mt-1 mb-0">
                                                        <a class="text-muted text-red" href="{% url 'products' %}?category={{ product.category.name }}">
                                                            <i class="fas fa-male"></i> {{ product.gender }}'s
                                                        </a>
                                                    </p>
                                                {% else %}
                                                    <p class="small mt-1 mb-0">
                                                        <a class="text-muted text-red" href="{% url 'products' %}?category={{ product.category.name }}">
                                                            <i class="fas fa-female"></i> {{ product.gender }}'s
                                                        </a>
                                                    </p>
                                                {% endif %}
                                            {% endif %}
                                            {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted text-red" href="{% url 'products' %}?category={{ product.category.name }}">
                                                    <i class="fas fa-list"></i> {{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1 text-red"></i> {{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted text-red">No Rating</small>
                                            {% endif %}
                                            {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-left">
                                            <a class="btn btn-red mt-3" href="{% url 'product_detail' product.id %}">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-red">
        <a class="btt-link d-flex h-100" >
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Add these values as id on an element so that JS can pick it up and use it in an external script -->
    <script src="{% static 'products/js/shop.js' %}"></script>
{% endblock %}